<header>
    <nav>
        <div>
            <ul>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li><a asp-controller="message" asp-action="AddMessage">Add message</a></li>
                <li><a asp-controller="message" asp-action="messages">My messages</a></li>
                <li style="float:right"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>