@model Message

@await Html.PartialAsync("_HeaderPartial")

@{
    ViewData["Title"] = "Мої нотатки";
}

<style>

    h2 {
        margin: auto;
    }

    form {
        max-width: 400px;
        margin: 20px auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        border: 1px solid black !important;
    }

    textarea {
        height: 200px;
        width: 413px;
        padding: 8px;
        margin-bottom: 10px;
    }
</style>

<div>
    <h2>Add Note</h2>
</div>
<form asp-action="AddMessage" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <label>Title:</label>
    <input asp-for="NameText" class="form-control" required />
    <span class="error" asp-validation-for="NameText"></span>
    <label>Content:</label>
    <textarea asp-for="Text" class="form-control" required></textarea>
    <span class="error" asp-validation-for="Text"></span>
    <button type="submit" class="btn btn-primary">Save Note</button>
</form>

